<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addCostume()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="!showForm" >
    <ion-item *ngFor="let costume of costumes" (click)="goToCostumeDetail(costume)">
      <ion-label>{{costume.name}}</ion-label>
      <ion-label>{{costume.count}}</ion-label>
      <ion-button (click)="deleteCostume(costume.id); $event.stopPropagation()" slot="end">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="showForm">
    <ion-card-header>
      <ion-card-title>Kostuem anlegen</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="formData.name" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Beschreibung</ion-label>
        <ion-input [(ngModel)]="formData.description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Preis</ion-label>
        <ion-input type="number" [(ngModel)]="formData.price">
          <ion-text slot="end">€</ion-text>
        </ion-input>
      </ion-item>      
      <ion-item>
        <ion-label position="floating">Groesse</ion-label>
        <ion-input [(ngModel)]="formData.size"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Farbe</ion-label>
        <ion-input [(ngModel)]="formData.color"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stueckzahl</ion-label>
        <ion-input type="number" [(ngModel)]="formData.count"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ausgeliehen</ion-label>
        <ion-input [(ngModel)]="formData.lent"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Bild</ion-label>
        <ion-button slot="end" (click)="takeOrUploadFoto()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <ion-toast id="dynamicToast" duration="3000" message="Choose an option"></ion-toast>
        <ion-input [(ngModel)]="formData.img"></ion-input>
        <input #fileUploadInput type="file" accept="image/*" style="display: none;" (change)="onFileSelected($event)" />
        <input id="cameraInput" type="file" accept="image/*" capture="camera" style="display: none;" (change)="onCameraCapture($event)" />
      </ion-item>
      <img *ngIf="formData.img" [src]="formData.img" alt="Hochgeladenes Bild" style="width: 100px; height: 100px;">
      <ion-button style="display: flex; justify-content: center;"  slot="start" (click)="submitForm()">Hinzufuegen</ion-button>
        <ion-button  style="display: flex; justify-content: center" slot="end" color="danger" (click)="hideForm()">Abbrechen</ion-button>
    </ion-card-content>
  </ion-card>

    

</ion-content>
