<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ costume?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editCostume()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="costume?.img" alt="Costume Image" />

    <ion-card-header>
      <ion-card-title>{{ costume?.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="costume-details">
        <p><strong>Beschreibung:</strong> {{ costume?.description }}</p>
        <p><strong>Preis:</strong> {{ costume?.price | currency:'EUR' }}</p>
        <p><strong>Größe:</strong> {{ costume?.size }}</p>
        <p><strong>Farbe:</strong> {{ costume?.color }}</p>
        <p><strong>Verfügbare Anzahl:</strong> {{ costume?.count }}</p>
        <p><strong>Ausgeliehen:</strong> {{ costume?.lent }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showForm">
    <ion-card-header>
      <ion-card-title>Kostüm anlegen / bearbeiten</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="formData.name" [ngModelOptions]="{ standalone: true }"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Beschreibung</ion-label>
        <ion-textarea [(ngModel)]="formData.description" [ngModelOptions]="{ standalone: true }"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Preis</ion-label>
        <ion-input type="number" [(ngModel)]="formData.price" [ngModelOptions]="{ standalone: true }"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Größe</ion-label>
        <ion-input [(ngModel)]="formData.size" [ngModelOptions]="{ standalone: true }"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Farbe</ion-label>
        <ion-input [(ngModel)]="formData.color" [ngModelOptions]="{ standalone: true }"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Stückzahl</ion-label>
        <ion-input type="number" [(ngModel)]="formData.count" [ngModelOptions]="{ standalone: true }"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Ausgeliehen</ion-label>
        <ion-input type="number" [(ngModel)]="formData.lent" [ngModelOptions]="{ standalone: true }"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Bild
        <ion-button slot="end" (click)="takeOrUploadFoto()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-label>
        <ion-toast id="dynamicToast" duration="3000" message="Choose an option"></ion-toast>
        <ion-input [(ngModel)]="formData.img" [ngModelOptions]="{ standalone: true }" ></ion-input>
        <input #fileUploadInput type="file" accept="image/*" style="display: none;" (change)="onFileSelected($event)" />
        <input id="cameraInput" type="file" accept="image/*" capture="camera" style="display: none;" (change)="onCameraCapture($event)" />
      </ion-item>
      <ion-img *ngIf="formData.img" [src]="formData.img"></ion-img>
      <div class="button-group">
        <ion-button expand="full" color="primary" (click)="submitForm()">bearbeiten</ion-button>
        <ion-button expand="full" color="danger" (click)="hideForm()">Abbrechen</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
