<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ costume?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="costume?.img" alt="Costume Image" />

    <ion-card-header>
      <ion-card-title>{{ costume?.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ costume?.description }}</p>
      <p>Price: {{ costume?.price }}</p>
      <p>Size: {{ costume?.size }}</p>
      <p>Color: {{ costume?.color }}</p>
      <p>Available Count: {{ costume?.count }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
